<div class="container-fluid p-3">
    <div class="row" *ngIf="isLoading; else notLoading;">
        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
            <span class="spinner-border text-primary"></span>
        </div>
    </div>
    <ng-template #notLoading>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center p-3">
                <h2 class="text-center text-decoration-underline">TO-DO APP</h2>
                <div class="btn-group" role="group" aria-label="Pagination button group">
                    <button type="button" class="btn btn-light" (click)="getPrevious()">Previous</button>
                    <button type="button" class="btn btn-light" (click)="getToday()">Today</button>
                    <button type="button" class="btn btn-light" (click)="getNext()">Next</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-3">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th *ngFor="let w of week" class="text-center">
                                    <small class="{{w.isToday ? 'text-primary': 'text-muted'}}">{{w.day}}</small>
                                    <span>
                                    </span>
                                    <h6 class="{{w.isToday ? 'text-primary': ''}}">{{w.date}}</h6>
                                    <small class="{{w.isToday ? 'text-primary': 'text-muted'}}">{{w.month + ' - ' + w.year}}</small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngFor="let w of week" class="text-center">
                                    <ng-container *ngFor="let item of weeklyItems; let i = index;">
                                        <div *ngIf="w.fullDate === item.date" class="d-flex justify-content-center align-items-center my-2 px-2">
                                            <div *ngIf="!item.status" (click)="changeStatus(i)" class="text-success cursor">
                                                <i class="fa fa-check-circle"></i>
                                            </div>
                                            <div (click)="editItem(w, item)" class="{{item.status ? 'bg-success text-white': 'bg-light'}} rounded mx-2 px-2 cursor">
                                                {{item.title}}
                                            </div>
                                            <div (click)="deleteItem(i)" class="text-danger cursor">
                                                <i class="fa fa-trash"></i>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <div *ngIf="!w.isExpired">
                                        <button type="button" (click)="addItem(w)" class="btn btn-outline-warning">Add Item</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-template>
</div>